.account{
    height: 50px;
    padding-right: 0;
    border: 0;
    font-size: $fsui;
    font-weight: $fwui;
}
.account .avatar-small{
    width: 32px;
    height: 32px;
}
.account .status{
    width: 12px;
    height: 12px;
    right: -2px;
    bottom: -2px;
    border: 0;
}
.account .btn-group{
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.account .btn-group button{
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.account .btn{
    width: 50px;
    height: 50px;
    background-color: transparent;
    &:hover{
        background-color: $d4;
    }
}

.theme-dark .account{
    background-color: $d1;
}
.theme-dark .account .account-details .username,
.theme-dark .account .account-details .discriminator{
    color: #FFF;
    opacity: 1;
}
.theme-light .account{
    background-color: $l2;
}
.theme-light .account .account-details .username,
.theme-light .account .account-details .discriminator{
    color: #000;
    opacity: 1;
}

// Settings button
button.btn.btn-settings{
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: 4px;
    left: 4px;
    &:hover{
        background-color: $d4;
    }
    &:active{
        background-color: $d4;
    }
}
.account .btn-settings:after{
    opacity: 1;
}
