// Channels header
.guild-header header{
    height: 40px;
    padding: 10px 20px;
    box-shadow: none;
    font-family: $font;
}
.theme-dark .guild-header header{
    background-color: $d1;
}
.theme-light .guild-header header{
    background-color: $l1;
}
.guild-header header span{
    font-size: $fsheader;
    font-weight: $fwheader;
}

// Channels
.theme-dark .guild-channels{
    background-color: $d1;
}
.theme-light .guild-channels{
    background-color: $l2;
}
.guild-channels header{
    font-size: $fsui;
    font-weight: $fwui;
    text-transform: none;
    letter-spacing: normal;
    opacity: 1;
}
.theme-light .guild-channels header,
.theme-light .guild-channels .channel a{
    color: #000;
    opacity: 1;
}
.guild-channels .channel{
    font-size: 13px;
}
.guild-channels .channel-text .channel-name,
.guild-channels .channel a{
    font-weight: normal;
    text-shadow: none;
}
.guild-channels .channel-text.selected{
    background-image: none;
}
.guild-channels .channel-text.selected a,
.guild-channels .channel-text.selected a span:before{
    color: var(--accent) !important;
}
.guild-channels .channel-text:hover{
    background: rgba(255,255,255,.1);
}
.guild-channels .channel-text.selected:before{
    border-left: 4px solid var(--accent);
    height: 50%;
    top: 50%;
    margin-top: -7px;
}
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted) a{
    font-weight: normal;
}
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before{
    border-radius: 0;
    width: 4px;
    height: 17px;
    left: 0;
    top: 50%;
    margin-top: -8px;
}
.guild-channels .channel-text:hover.channel-muted:before,
.guild-channels .channel-text:hover:not(.unread):before{
    border-left: 4px solid var(--accent);
    height: 50%;
    top: 50%;
    margin-top: -7px;
}
.guild-channels .channel-text a, .guild-channels .channel-voice{
    padding: 8px 6px 10px 32px;
}
.guild-channels .channel-voice-states li.speaking .avatar-small{
    box-shadow: none;
}
.theme-light .guild-channels .channel-voice .channel-arrow{
    filter: invert(100%);
}
.theme-light .guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before{
    background-color: #000;
}
.theme-light .guild-channels .channel-text .channel-name:before{
    color: #000 !important;
}
.theme-light .guild-channels .channel-text.unread:not(.selected):not(.channel-muted) a{
    color: #000;
}
