.message-group{
    margin-left: 0;
    margin-right: 0;
}
.message-group .comment .markup{
    font-size: $fschat;
}

.theme-dark .messages-wrapper{
    background-color: $d2;
}
.theme-dark .message-group .comment .markup{
    color: #FFF;
}
.theme-dark .message-group.compact .timestamp{
    color: #AAA;
}
.theme-dark .message-group.compact .message .markup .user-name{
    color: #AAA;
    font-size: $fschat;
}
.theme-light .message-group .comment .markup{
    color: #000;
}
.theme-light .message-group.compact .timestamp{
    color: #000;
}
.theme-light .message-group.compact .message .markup .user-name{
    color: #000;
    font-size: $fschat;
}

// Divider
.chat .divider{
    margin: 8px 0;;
}
.chat .divider>div{
    display: none;
}
.chat .divider>span{
    width: 100%;
    padding: 0 20px;
    background-color: #000 !important;
    border-radius: 0;
    color: #FFF !important;
    font-size: $fsui;
    font-weight: $fwui;
    line-height: $lh;
}
.chat .divider.divider-red>span{
    background-color: $alert;
    color: #FFF;
    line-height: $lh;
    text-transform: none;
}
