.message-group{
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
}
.message-group .comment .markup{
    font-size: $fschat;
}

.theme-dark .messages-wrapper{
    background-color: $d2;
}
.theme-dark .message-group .comment .markup{
    color: #FFF;
}
.theme-dark .message-group.compact .timestamp{
    color: #AAA;
}
.theme-dark .message-group.compact .message .markup .user-name{
    color: #AAA;
    font-size: $fschat;
}
.theme-light .message-group .comment .markup{
    color: #000;
}
.theme-light .message-group.compact .timestamp{
    color: #000;
}
.theme-light .message-group.compact .message .markup .user-name{
    color: #000;
    font-size: $fschat;
}
.theme-dark .message-group a{
    color: $a;
}

.mention{
    background-color: transparent !important;
    color: $a;
    font-weight: $fwchat;
    &:hover{
        background-color: transparent !important;
        color: #FFF;
    }
}
.theme-light .mention:hover{
    color: #000;
}

// Divider
.chat .divider{
    margin: 8px 0;;
}
.chat .divider>div{
    display: none;
}
.chat .divider>span{
    width: 100%;
    padding: 0 20px;
    background-color: #000 !important;
    border-radius: 0;
    color: #FFF !important;
    font-size: $fsui;
    font-weight: $fwui;
    line-height: $lh;
}
.chat .divider.divider-red>span{
    background-color: $alert;
    color: #FFF;
    line-height: $lh;
    text-transform: none;
}

// Embeds
.embed{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.embed-wrapper .embed-color-pill{
    border-radius: 0;
}
.theme-light .embed-wrapper .embed-color-pill{
    background-color: #E5E5E5;
}
.theme-dark .message-group .embed-wrapper .embed-color-pill{
    background-color: #E5E5E5;
}
.theme-dark .message-group .embed{
    background-color: transparent;
    border: 0;
}
.embed .embed-video-actions .embed-video-actions-inner{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0,0,0,.3);
    border-radius: 0;
    transition: background-color .3s;
    &:hover{
        background-color: transparent;
        transition: background-color .3s;
    }
}
.embed .embed-video-actions .embed-video-play,
.embed .embed-video-actions .embed-video-popout{
    opacity: 1;
}
.embed .embed-fields .embed-field .embed-field-name{
    font-weight: 500;
}
.embed .embed-fields .embed-field .embed-field-value{
    font-weight: $fwui;
}
.embed .embed-title{
    margin: 0;
    font-size: $fsui;
    line-height: $lh;
}
.embed .embed-author{
    line-height: $lh;
    margin: 0;
}
.embed .embed-author-name{
    font-size: $fschat;
    font-weight: $fwchat;
}
