// Typography
$font: "Segoe UI", Selawik, Arial, Helvetica, sans-serif;
$mono: Consolas, Menlo, Monaco, "Courier New", monospace;
$a: #0078D7;        // href
$fsheader: 20px;    // font-size: header
$fsui: 15px;        // font-size: general ui
$fschat: 13px;      // font-size: chat
$fwheader: 300;     // font-weight: header
$fwui: 400;         // font-weaight: UI
$fwchat: 400;       // font-weight: chat;
$lh: 1.5625;        // line-height

// Alert states
$alert: #D02E00;
$safe: #0FD000;

// Backgrounds - Dark Mode
$d1: #191919;
$d2: #262626;
$d2: #333333;
$d4: #404040;

// Backgrounds - Light Mode
$l1: #101010;
$l2: #f3f3f3;

// Box shadow - Lightmode
$lbsb: #cdcdcd;
$lbsw: 13px;

// Input element states
$inputborder: rgba(255,255,255,.6);
$inputborderhover: rgba(255,255,255,.8);

// User defined variables
:root{
    --accent: #0072C6;
}
