.theme-dark .channels-wrap:after,
.theme-light .channels-wrap:after{
    content: "Metro For Discord v3 INDEV";
    width: 100%;
    height: 18px;
    padding-top: 6px;
    font-size: 10px;
    text-align: center;
}
.theme-dark .channels-wrap:after{
    background-color: $d1;
    color: #FFF;
}
.theme-light .channels-wrap:after{
    background-color: $l2;
    color: #000;
}
