.theme-dark{
    & .scroller-wrap .scroller.messages,
      #friends .scroller{
        &::-webkit-scrollbar{
            width: 12px;
        }
        &::-webkit-scrollbar-button{
            height: 13px;
            background-color: #171717;
        }
        &::-webkit-scrollbar-button:vertical:increment{
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAUVBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////94FlRsAAAAG3RSTlMAAQocHTA2Nzo7PT5ERUtNVHSAqqzP0OPm5+njouU9AAAAQklEQVR4AWOgHIhwovIFpFggDD5hCC0kxgSieCRZIXxGERFGBgYuCXaYDiZRIQY2CW6EEcxSgpK8yGZyiPMzUAUAAOHsAejjafRJAAAAAElFTkSuQmCC);
            background-size: 12px 12px;
            border-top: 1px solid #171717;
            &:hover{
                background-color: #747474;
            }
        }
        &::-webkit-scrollbar-button:vertical:decrement{
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAM1BMVEX////////////////////////////////////////////////////////////////////lEOhHAAAAEXRSTlMAAQodHjs8VICBjKyt0NHk6Xsnr0IAAABCSURBVHjarYnLDoAwCAQX+sLSVv7/azUQY+86h51MFv9QzrJnsm7pTZ6CY/KTpEqgcU8gfvGSyGbZna25tSKois9cjPoBMSXUqnYAAAAASUVORK5CYII=);
            background-size: 12px 12px;
            border-bottom: 1px solid #171717;
            &:hover{
                background-color: #747474;
            }
        }
        &::-webkit-scrollbar-thumb{
            background-color: #454545;
            border: 0;
            border-radius: 0;
            &:hover{
                background-color: #747474;
            }
        }
        &::-webkit-scrollbar-track-piece{
            background-color: #171717;
            border: 0;
            border-radius: 0;
        }
    }
}

// Light theme
.theme-light{
    & .scroller-wrap .scroller.messages,
      #friends .scroller{
        &::-webkit-scrollbar{
            width: 12px;
        }
        &::-webkit-scrollbar-button{
            height: 13px;
            background-color: #f2f2f2;
        }
        &::-webkit-scrollbar-button:vertical:increment{
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAVFBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABkwc6KAAAAHHRSTlMAAAEKHB0wNjc6Oz0+REVLTVR0gKqsz9Dj5ufpQOOs1AAAAEtJREFUeNqlzjkOgCAUANER3DdURAXuf08Tfoix1eleNxTvPtj15JLXWInMnow9NcAUarFyTsHgW8Tow9L4kWzKuIWZx3TXgvjn7w03JQKeIuvwAwAAAABJRU5ErkJggg==);
            background-size: 12px 12px;
            border-top: 1px solid #f2f2f2;
            &:hover{
                background-color: #919191;
            }
        }
        &::-webkit-scrollbar-button:vertical:decrement{
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAANlBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADl82K3AAAAEnRSTlMAAAEKHR47PFSAgYysrdDR5OktSV+TAAAASklEQVQI153OOxKAIAwA0Q3hqxHN/S9rgYxDqdu9bpE1vhsgXxlgOvru8bX2xtZ1OpgFwmHhcesK6NmGqycAklcRRKwwKvbrb+kG49oB6/D8i5kAAAAASUVORK5CYII=);
            background-size: 12px 12px;
            border-bottom: 1px solid #f2f2f2;
            &:hover{
                background-color: #919191;
            }
        }
        &::-webkit-scrollbar-thumb{
            background-color: #c2c2c2;
            border: 0;
            border-radius: 0;
            &:hover{
                background-color: #919191;
            }
        }
        &::-webkit-scrollbar-track-piece{
            background-color: #f2f2f2;
            border: 0;
            border-radius: 0;
        }
    }
}
